body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.menu {
  background-color: #4b4f67;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.menu a {
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
}
.menu a {
  font-size: 24px;
}
@media (max-width: 1400px) {
  .menu a {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .menu a {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .menu {
    flex-direction: column;
    align-items: stretch;
  }

  .menu a {
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
}
