.container {
  display: flex;
}

.col {
  padding: 8px;
}

.col-line {
  position: relative;
  padding-right: 20px;
}

.col-line::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: black; /* Линия */
}