*{
    box-sizing: border-box;
}

h2{
    background-color: bisque;
    margin: 20px 100px 20px 100px;
    display: inline-block;
}
#h1{
    margin-top: 200px;
    display: none;
}
.d1{
    width: 100px;
    display: block;
    width: 200px;
    height: 30px;
    background-color: aquamarine;
    overflow: auto;
}
a{
    text-decoration: none;
    border: 1px green solid;
}
a:visited{
    display: none;
}
a:hover{
    background-color: red;

}